* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
}

body {
  margin: 0px;
}

/* Header */
.main-header {
  background-color: #14597f;
  height: 60px;
  border-bottom: 1px solid #0b2d3d;
}

.main-header > div {
  height: 60px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.main-logo > img {
  height: 50px;
  align-self: center;
}

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

nav ul li a{
  height: 40px;
  display: block;
  color: white;
  padding: 12px;
  margin: 0px 2px;
}

nav ul li a.active {
  background-color: #1fb5e9;
  border-radius: 4px;
}

.fa-shopping-cart {
  color: #14597f;
}

.shopping-cart {
  padding: 0px 10px;
}

.count {
  background-color: #d9534f;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 11px;
  position: relative;
  right: 15px;
  top: 17px;
}

/*main section*/
.page-content {
  max-width: 1200px;
  margin: 30px auto 0px auto;
  padding: 0px 20px;
  min-height: calc(100vh - 163px);
}

/* Footer */
.main-footer {
  height: 70px;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
#home-img {
  height: 400px;
  float: right;
  margin-top: -75px;
}

.btn {
  width: max-content;
  background-color: #14597f;
  border: 1px solid #0b2d3d;
  border-radius: 4px;
  color: white;
  padding: 8px;
}

.btn:hover {
  background-color: #1fb5e9;
  transition: ease-out 0.2s;
}

/* Products */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  width: 25%;
  padding: 0px 20px 0px 5px;
  float: left;
}

.sidebar h2 {
  margin: 0px 0px 5px 0px;
}

.btn-group{
  margin: 0px 0px 20px 0px;
}

.btn-group button {
  border: 1px solid #999999;
  background-color: white;
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group button:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group button:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.btn-group button:hover {
  background-color: #f3f3f3;
  transition: ease-out 0.2s;
}

.btn-group button:focus, .btn-group button:active {
  outline:none;
}

.btn-group .selected {
  background-color: #ddf2fb;
}

.products-section {
  width: 75%;
  float: left;
}

.inline-left {
  display: inline;
  padding-left: 5px;
}

.inline-right {
  float: right;
  display: inline;
  padding-right: 5px;
  padding-top: 10px;
}

#products-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#products-list a {
  border: 1px solid #999999;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  color: black;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

#products-list h2 {
  margin: 0px;
}

#products-list a:hover {
  background-color: #f3f3f3;
  transition: ease-out 0.2s;
}

.align-right {
  text-align: right;
}

/* Product */
.product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-grid hr {
  border-top: 1px dashed grey;
}

.form-control {
  border: 1px solid  #999999;
  border-radius: 4px;
  padding: 5px;
}

#product-quantity {
  width: 40px;
  height: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input:focus, input:active {
  outline:none;
}

/* Contact */
.contact-grid {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  margin: 30px 5px;
  padding: 30px 0px 10px 0px;
}

.contact-grid a{
  text-align: center;
  display: block;
  margin: 20px 0px;
}

.contact-grid i{
  text-align: center;
  display: block;
  font-size: 50px;
}

.contact-grid p{
  text-align: center;
  display: block;
}

/* Shopping Cart */
.cart-content button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #dddddd;
  padding: 1px 2px 0px 0px;
}

.cart-content button i {
  width: 10px;
  height: 10px;
}

.cart-content button:hover {
  background-color: #bbbbbb;
}

.cart-table {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.cart-header {
  display: grid;
  grid-template-columns: 30px 24.375% 24.375% 24.375% 24.375%;
  border-bottom: 2px solid black;
  padding: 8px;
}

.cart-header th {
  text-align: justify;
}

.price-col {
  text-align: end;
}

#price-col-header {
  text-align: end;
}

.cart-row {
  display: grid;
  grid-template-columns: 30px 24.375% 24.375% 24.375% 24.375%;
  margin: 15px 10px;
}

.quatity-select button {
  margin: 0px 8px;
}

#total {
  text-align: end;
  padding-bottom: 16px;
}

.order-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-btn {
  font: 400 13.3333px Arial;
}

/* Order */
#order-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pay-btn {
  align-self: flex-end;
  margin: 16px 16px;
}

.order-contact-grid {
  display: grid;
  grid-template-columns: 48.667% 48.667%;
  column-gap: 16px;
}

.order-grid-col1 {
  grid-column: 1;
}

.order-grid-col2 {
  grid-column: 2;
}

.order-grid-row1 {
  margin: 24px 0px 8px;
}

.order-grid-row2 {
  grid-row: 2;
  margin: 16px 0px 4px;
}

.order-grid-row3 {
  grid-row: 3;
}

.order-grid-row4 {
  grid-row: 4;
  margin: 16px 0px 4px;
}

.order-grid-row5 {
  grid-row: 5;
}

.no-margin-bottom {
  margin-bottom: 0px;
}
