.main-header {
  background-color: #14597f;
  height: 60px;
  border-bottom: 1px solid #0b2d3d;
}

.main-header > div {
  height: 60px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  display: flex;
  justify-content: center;
}

.main-logo > img {
  height: 50px;
  align-self: center;
}

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

nav ul li a{
  height: 40px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin: 0px 2px;
}

nav ul li a.active {
  background-color: #1fb5e9;
  border-radius: 4px;
}

.fa-shopping-cart {
  color: #14597f;
}

.shopping-cart {
  padding: 0px 10px;
}

.count {
  background-color: #d9534f;
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 11px;
  position: relative;
  right: 15px;
  top: 17px;
}

body {
  margin: 0px;
}

.page-content {
  max-width: 1200px;
  margin: 30px auto 0px auto;
  min-height: calc(100vh - 162px);
}

.main-footer {
  height: 70px;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-img {
  height: 400px;
  float: right;
  margin-top: -75px;
}

.btn {
  width: max-content;
  background-color: #14597f;
  border: 1px solid #0b2d3d;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  padding: 8px;
}

.btn:hover {
  background-color: #1fb5e9;
  transition: ease-out 0.2s;
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  width: 25%;
  padding: 0px 20px 0px 5px;
  float: left;
}

.sidebar h2 {
  margin: 0px 0px 5px 0px;
}

.btn-group{
  margin: 0px 0px 20px 0px;
}

.btn-group button {
  border: 1px solid #999999;
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group button:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group button:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.btn-group button:hover {
  background-color: #f3f3f3;
  transition: ease-out 0.2s;
}

.btn-group button:focus, .btn-group button:active {
  outline:none;
}

.btn-group .selected {
  background-color: #ddf2fb;
}

.products-section {
  width: 75%;
  float: left;
}

.inline-left {
  display: inline;
  padding-left: 5px;
}

.inline-right {
  display: inline;
  float: right;
  padding-right: 5px;
  padding-top: 10px;
}

#products-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#products-list a {
  border: 1px solid #999999;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

#products-list h2 {
  margin: 0px;
}

#products-list a:hover {
  background-color: #f3f3f3;
  transition: ease-out 0.2s;
}

main img {
  max-width: 100%;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.align-right {
  text-align: right;
}

.product-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-grid hr {
  border-top: 1px dashed grey;
}

.form-control {
  border: 1px solid  #999999;
  border-radius: 4px;
  width: 40px;
  height: 30px;
  padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input:focus, input:active {
  outline:none;
}
