<html>
    <head>
        <link rel="stylesheet" href="/assets/css/default.css"/>
        <title>Error</title>
    </head>
    <body>
        <h1><%=message%></h1>
        <h2><%=error.status%></h2>
        <pre><%-error.stack%></pre>
</body>
</html>
