<header>
    <div class="header-container">
      <div class="logo">
        <a href="/">
          <img alt="logo" src="/assets/img/logo.svg" title="Accueil">
        </a>
      </div>
      <nav>
        <ul>
          <% if (activeTab === "home") { %>
            <li class="active"><a href="/accueil">Accueil</a></li>
          <% } else {%>
            <li><a href="/accueil">Accueil</a></li>
          <% } %>
          <% if (activeTab === "products") { %>
            <li class="active"><a href="/produits">Produits</a></li>
          <% } else {%>
            <li><a href="/produits">Produits</a></li>
          <% } %>
          <% if (activeTab === "contact") { %>
            <li class="active"><a href="/contact">Contact</a></li>
          <% } else {%>
            <li><a href="/contact">Contact</a></li>
          <% } %>
          <li>
            <a class="shopping-cart" href="/panier" title="Panier">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-shopping-cart fa-stack-1x"></i>
              </span>
              <span class="count">3</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>