<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>OnlineShop - Commande</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <%- include('header'); -%>
  <main>
    <article>
      <h1>Commande</h1>
      <form id="order-form" action="/confirmation" method="post">
        <section>
          <h2>Contact</h2>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="first-name">Prénom</label>
                <input class="form-control" type="text" id="first-name" name="first-name" placeholder="Prénom" minlength="2" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="last-name">Nom</label>
                <input class="form-control" type="text" id="last-name" name="last-name" placeholder="Nom" minlength="2" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="email">Adresse courriel</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Adresse courriel" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="phone">Téléphone</label>
                <input class="form-control" type="tel" id="phone" name="phone" placeholder="###-###-####" required>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h2>Paiement</h2>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="credit-card">Numéro de carte de crédit</label>
                <input class="form-control" type="text" id="credit-card" name="credit-card" placeholder="•••• •••• •••• ••••" required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="credit-card-expiry">Expiration (mm/aa)</label>
                <input class="form-control" type="text" id="credit-card-expiry" name="credit-card-expiry" placeholder="mm/aa" required>
              </div>
            </div>
          </div>
        </section>
        <button class="btn pull-right" type="submit">Payer <i class="fa fa-angle-double-right"></i></button>
      </form>
    </article>
  </main>
  <%- include('footer'); -%>
  <%- include('scripts'); -%>
  <script type="javascript/text" src="/assets/js/jquery.validate.min.js"></script>
  <script type="javascript/text" src="/assets/js/additional-methods.min.js"></script>
  <script type="javascript/text" src="/assets/js/messages_fr.js"></script>
  <script type="module" src="/assets/scripts/orders.service.js"></script>
  <script type="module" src="/assets/scripts/order.controller.js"></script>
  <script type="module">
    import { initOrderController } from "/assets/scripts/order.controller.js"
    initOrderController();
  </script>
</body>
</html>
